<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      <img src="assets/images/logo.png" alt="Snapaday Logo" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="playSlideshow()">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item
      *ngIf="!photoService.photoAlreadyTakenToday"
      button
      detail="false"
      (click)="takePhoto()"
    >
      <img src="assets/images/smile.png" alt="Say Cheese!" />
    </ion-item>

    <ion-item-sliding *ngFor="let photo of photos">
      <ion-item>
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(photo.path)" />
        <ion-badge color="light" slot="end">0 days ago</ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="deletePhoto(photo)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
